<h1>Translate card</h1>

<p><%= form_for @card do |f| %>
      dutch text: <%= f.text_field :translated_text %>
   <% end %>
</p>
<p>
  <%= form_tag review_card_path(@card) do %>
      your translation: <%= text_field_tag :translated_text %>
      <%= submit_tag "check translation" %>
  <% end %>
</p>


