<title>Флэшкарточкер</title>
<section id="container">
  <h1>Флэшкарточкер</h1>
  <ul class="navigation-links">
    <%= link_to "Все карточки", cards_path %>
    <%= link_to "Добавить карточку", new_card_path %>
  </ul>
  <p>Первый в мире удобный менеджер флеш-карточек. Именно так.</p>

  <h1>Edit card</h1>

  <p><%= form_for @card do |f| %></p>
        <%= f.hidden_field :original_text %>
        <p>translated text: <%= f.text_field :translated_text %></p>

        <p><%= f.submit "check translation" %></p>
    <% end %>
    </section>


