<h1>Edit card</h1>
<p><%= form_for @card do |f| %></p>
      <p>original text: <%= f.text_field :original_text %></p>

      <p>translated text: <%= f.text_field :translated_text %></p>

      <p>review date: <%= f.datetime_select :review_date %></p>

      <p><%= f.submit "Save flashcard" %></p>
  <% end %>