<% if @cards.empty? %>
    <b xmlns="http://www.w3.org/1999/html">no items in store</b>
<% else %>
    <table>
      <tr>
        <th><%= t(:image) %></th>
        <th><%= t(:original_text) %></th>
        <th><%= t(:translated_text) %></th>
        <th><%= t(:review_date) %></th>
      </tr>

      <% @cards.each do |card| %>
          <tr>
            <td><%= image_tag(card.avatar_url(:thumb)) if card.avatar? %></td>
            <td><%= card.original_text %></td>
            <td><%= card.translated_text %></td>
            <td><%= card.review_date %></td>
            <td><%= link_to t(:edit), edit_card_path(card) %></td>
            <td><%= button_to t(:delete), card_path(card), method: :delete, data: {confirm: t(:confirm)} %></td>
          </tr>
      <% end %>

<% end %>
<span id='check_translation'>
<%= render 'review_form', card: @card %>
</span>
