<h1>Cards</h1>
<h3>My profile</h3>
<%= link_to "Edit", edit_user_path(current_user) %> |
<% if @cards.empty? %>
    <b>no items in store</b>
<% else %>
    <table>
      <tr>
        <th>card id</th>
        <th>original_text</th>
        <th>translated_text</th>
        <th>review_date</th>
      </tr>

      <% @cards.each do |card| %>
          <tr>
            <td><%= link_to card.id, card_path(card) %></td>
            <td><%= card.original_text %></td>
            <td><%= card.translated_text %></td>
            <td><%= card.review_date %></td>
            <td><%= link_to "Редактировать", edit_card_path(card)%></td>
            <td><%= button_to "Удалить", card_path(card), method: :delete, data: { confirm: "indeed?" }%></td>
          </tr>
      <% end %>
<% end %>






